.monitorData {
    .addrOption {
        height: 54px;
        line-height: 54px;
        padding-left: 24px;
        .ant-cascader-picker {
            margin-left: 10px;
            input {
                height: 32px;
                width: 230px
            }
        }
    }
    .dataCont {
        margin: 0 24px;
        background-color: #fff;
        position: relative;
        min-height: 600px;
        .menu {
            vertical-align: top;
            background-color: #e6f7ff;
            width: 200px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            .search {
                height: 54px;
                line-height: 54px;
                padding: 0 10px;
                border-bottom: 1px solid #fff;
            }
            .menuCont {
                .ant-list-item {
                    padding: 0;
                    border-bottom: 1px solid #fff;
                    .menuItem {
                        height: 40px;
                        line-height: 38px;
                        width: 100%;
                        color: #333;
                        padding: 0 12px;
                        span, label {
                            display: inline-block;
                            vertical-align: top;
                        }
                        span {
                            width: 40px;
                        }
                        label {
                            width:calc(100% - 40px);
                            overflow: hidden;
                            text-overflow:ellipsis;
                            white-space: nowrap;
                            cursor: pointer;
                        }
                    }
                    .active {
                        color: #05A9F4
                    }
                }
            }
        }
        .device {
            width: calc(100% - 200px);
            min-width: 1100px;
            margin-left: 200px;
            padding-bottom: 40px;
            .ant-list-header {
                height: 54px;
                line-height: 54px;
                padding: 0 32px;
                font-size: 16px;
                color: #333;
                .deviceHeader {
                    display: flex;
                    justify-content: space-between;
                    .title {
                        span {
                            font-size: 12px;
                            margin-left: 8px
                        }
                    }
                    .extra {
                        font-size: 14px;
                        span {
                            color: #05A9F4;
                            margin: 0 5px;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
            }
            .ant-spin-container {
                padding: 23px 32px;
            }
        }
        .deviceBox {
            width: 100%;
            margin-left: 0;
        }
        .deviceCard {
            min-width: 294px;
            .ant-card-head {
                height: 45px;
                line-height: 45px;
                div {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            .ant-card-body {
                display: flex;
                justify-content: space-between;
                color: #333;
                .dataItem {
                    width: 150px;
                    margin-left: 10px;
                    .title {
                        font-size: 14px;
                        i {
                            margin-right: 10px;
                        }
                    }
                    .data {
                        font-size: 18px;
                        text-indent: 28px;
                        line-height: 30px;
                        i {
                            text-indent: 10px;
                            vertical-align: unset;
                        }
                    }
                    .error {
                        color: #E52C00
                    }
                }
            }
        }
    }
}