$base-color: #05A9F4; // 主色调

.icon {
    width: 1.7em;
    height: 1.7em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    padding: 5px;
}

.ant-form-explain, .ant-form-extra{
  font-size: 12px!important;
}

.window-content {
    display: flex;
    height: 100%;
    width: 100%;
}
.close-close-other-tab-btn {
  font-size: 14px;
  color: #999999;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  line-height: 32px;
  height: 32px;
  padding: 0px 15px;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 10px;
  clear: both;
  z-index: 1;

  &:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
  }
}
