.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding-left: 30px!important;
  background: #fff;
}
.table-tooltip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.ant-table-tbody > tr > td {
  font-size: 12px;
}